In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('true.csv')
headers =  ["true"]
df1.columns = headers
df2 = pd.read_csv('predictionsFiles.csv')
headers =  ["predicted"]
df2.columns = headers
df3 = pd.concat([df1,df2],  axis=1, join="inner")
dfPT = pd.read_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/dec6_ds8/TestSetTruePT.csv')
df5 = pd.concat([df1,df2,dfPT],  axis=1, join="inner")
df5.to_csv('concatenatedSample.csv',index=False)

In [3]:
df6=pd.read_csv('concatenatedSample.csv')
#df6 = pd.read_csv('test.csv')
df6

        true  predicted        pt
0          0          0 -2.627300
1          2          2  0.195180
2          0          2  1.338710
3          2          2  0.180981
4          0          0  0.457629
...      ...        ...       ...
163035     0          2  0.395177
163036     1          1 -0.164451
163037     0          1 -0.456705
163038     1          0 -0.168745
163039     2          2  0.124187

[163040 rows x 3 columns]

In [4]:
df7 = df6.loc[ (df6['pt'] < 2) & (df6['pt'] > -2.0)]
#df10 = df6.loc[ (df6['pt'] > -2) | (df6['pt'] < -2)]
df7
#len(df7)

        true  predicted        pt
1          2          2  0.195180
2          0          2  1.338710
3          2          2  0.180981
4          0          0  0.457629
5          0          2  0.283597
...      ...        ...       ...
163035     0          2  0.395177
163036     1          1 -0.164451
163037     0          1 -0.456705
163038     1          0 -0.168745
163039     2          2  0.124187

[160218 rows x 3 columns]

In [5]:
totalNumberRowsSelected = df7.shape[0] 
predicted1 = df7.loc[ df7['predicted'] == 1]
numberPredicted1Rows = predicted1.shape[0]
predicted2 = df7.loc[ df7['predicted'] == 2]
numberPredicted2Rows = predicted2.shape[0]
total = numberPredicted2Rows + numberPredicted1Rows
total
BkgRej =  total / df7.shape[0] 
BkgRej

0.48415908324907314